*{
    margin: 0px;
    padding: 0px;
}

:root {
  --animation-time: 30s;
}

body{
    font-family: system-ui,"SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

a{
	text-decoration: none;
	color: #7F7BE7;
}

.main_content {
	margin: 0px auto;
	padding: 100px 0px 0px;
	max-width: 1024px;
	position: relative;
	height: 100%;
	z-index: 500;
}

.showcase_title_box{
	margin: 0 0px 50px;
}

.showcase_title_box h1{
	font-size: 32px;
	margin: 0 15px 0.2em;
	text-align: left;
}

.showcase_title_box p{
	font-size: 16px;
	font-weight: 200;
	margin: 0 15px 0.2em;
	text-align: left;
}

.showcases{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

h2{
	margin: 0 15px 0.2em;
	font-size: 24px;
}

.showcase{
	flex: 0 0 calc(100% - 30px);
	margin: 10px 15px;
	background-color: rgba(255, 255, 255, 0.9);
	/* background-image:  url("/images/chevron.right.svg"); */
	background-position: calc(100% - 10px) center;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	border-radius: 20px;
	padding: 15px 30px 15px 20px;
	box-sizing: border-box;
	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
	position: relative;
}

.showcase:hover{
	cursor: pointer;
	background-color: rgba(246, 246, 255, 1);
}

.showcase_nochevron{
	background-image:none !important;
}

.showcase_nochevron:hover{
	cursor: auto !important;
	background-color: rgba(255, 255, 255, 0.9) !important;
}

.showcase .icon{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	left: 20px;
	background-repeat: no-repeat;
	background-position: center;
}


.showcase h3{
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 0.2em 65px;
	color: #000;
}

.showcase p{
	line-height: 24px;
	font-weight: 300;
	margin: 0 0 0px 65px;
	font-size: 16px;
	color: #444;
}

.showcase a{
	line-height: 22px;
	font-weight: 400;
	margin: 0 0 10px 60px;
	display: none;
}

.app_title{
	margin-bottom: 80px;
}

.appicon{
	width: 80px;
	height: 80px;
	background-image: url("/images/LOGO.png");
	background-size: contain;
	margin: 0 auto;
	border-radius: 8px;
}

.appname{
	text-align: center;
	font-weight: 800;
	margin: 30px 0px 0px;
	font-size: 28px;
}

.subtitle{
	text-align: center;
	font-weight: 100;
	margin: 5px 0px;
	font-size: 22px;
}

.ios_download_btn{
	display: block;
	width: 180px;
	height: 60px;
	margin: 10px auto 100px;
	background-image: url("/images/ios_download.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.ios_download_btn_zh-Hans{
	display: block;
	width: 164px;
	height: 60px;
	margin: 10px auto 100px;
	background-image: url("/images/ios_download_zh-Hans.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.feature_icon{
	width: 10vw;
	height: 10vw;
	max-width: 70px;
	max-height: 70px;
	position: absolute;
	left: 5vw;
	background-repeat: no-repeat;
	background-position: center;
}

.icon_mappin_slash_2{
	background-image: url("/images/mappin.slash_2.svg");
	background-size: contain;
}

.icon_mappin_and_ellipse{
	background-image: url("/images/mappin.and.ellipse.svg");
	background-size: contain;
}

.icon_lock_shield{
	background-image: url("/images/lock.shield.svg");
	background-size: contain;
}

.icon_clock_badge_checkmark{
	background-image: url("/images/clock.badge.checkmark.svg");
	background-size: contain;
}

.icon_square_filled_on_square{
	background-image: url("/images/square.filled.on.square.svg");
	background-size: contain;
}

.icon_hand_raised_app{
	background-image: url("/images/hand.raised.app.svg");
	background-size: contain;
}

.icon_house_and_flag{
	background-image: url("/images/house.and.flag_2.svg");
	background-size: contain;
}

.icon_calendar_badge_clock{
	background-image: url("/images/calendar.badge.clock.svg");
	background-size: contain;
}

.icon_lock_ipad{
	background-image: url("/images/lock.ipad.svg");
	background-size: contain;
}

.icon_eye_exclamationmark{
	background-image: url("/images/eye.exclamationmark.svg");
	background-size: contain;
}

.icon_hourglass_2{
	background-image: url("/images/apps.svg");
	background-size: contain;
}

.icon_hide_apps{
	background-image: url("/images/hide_apps.svg");
	background-size: contain;
}

.icon_hourglass{
	background-image: url("/images/hourglass.svg");
	background-size: contain;
}

.icon_timer{
	background-image: url("/images/timer.svg");
	background-size: contain;
}

.icon_zones{
	background-image: url("/images/zones.svg");
	background-size: contain;
}

.icon_widgets{
	background-image: url("/images/widgets.svg");
	background-size: contain;
}

.icon_schedule{
	background-image: url("/images/schedule.svg");
	background-size: contain;
}

.icon_color{
	background-image: url("/images/color.svg");
	background-size: contain;
}

.icon_prompt{
	background-image: url("/images/prompt.svg");
	background-size: contain;
}
.icon_forbidden{
	background-image: url("/images/forbidden.svg");
	background-size: contain;
}
.icon_replace{
	background-image: url("/images/replace.svg");
	background-size: contain;
}

.intro_text{
	margin: 0 5vw 5vw 21vw;
}

.intro_text h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.intro_text .descr{
	font-size: 15px;
	line-height: 22px;
	font-weight: 300;
}

.intro_pics {
/*
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
*/
  margin-bottom: 100px;
}

.intro_pic {
	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;
	height: 650px;
	border-radius: 20px;
	border: 1px solid rgba(23,33,44,0.15);
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
	margin: 20px auto 30px;
}

.intro_pic_1_1 {
  background-image: url("/images/intro_pic_1_1.png");
}

.intro_pic_1_2 {
  background-image: url("/images/intro_pic_1_2.png");
}

.intro_pic_2_1 {
  background-image: url("/images/intro_pic_2_1.png");
}

.intro_pic_2_2 {
  background-image: url("/images/intro_pic_2_2.png");
}


.intro_pic_4_1 {
  background-image: url("/images/intro_pic_4_1.jpg");
}

.intro_pic_4_2 {
  background-image: url("/images/intro_pic_4_2.jpg");
}

.bg{
    background: #fff;
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 500px;
    height: 500px;
    animation-name: animate;
/*     bottom: 0px; */
    opacity: 0.5;
    
}

.copyright{
	position: relative;
	display: block;
	bottom: 0px;
	text-align: center;
	padding: 10px;
	font-size: 12px;
}

.language-switcher {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	z-index: 999;
	top: 20px;
	right: 20px;
}

.language-switcher .selected-language {
  padding: 8px 16px 6px;
  border: 1px solid #999;
  border-radius: 4px;
}

.language-switcher .selected-language::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 22px;
  margin-right: 8px;
  vertical-align: middle;
  background-image: url("/images/globe.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.language-switcher .selected-language::after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.language-switcher .language-list {
  display: none;
  right: 0px;
  position: absolute;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0.95);
  width: calc(100vw - 60px);
  max-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  column-count: 3;
  border-radius: 5px;
}

.language-switcher .language-list.show {
	display: flex;
	flex-wrap: wrap;
}

.language-switcher .language-list a {
	flex: 0 0 28%;
	padding: 10px 5px;
	font-size: 13px;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
}

.language-switcher .language-list a:hover {
	background-color: rgba(90, 90, 255, 0.2);
	border-radius: 5px;
}



/* 滚动条样式 */
::-webkit-scrollbar {
    width: 0px; /* 设置滚动条宽度 */
}
 
::-webkit-scrollbar-thumb {
    background-color: #999; /* 设置滑块颜色 */
}
 
::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* 设置滚动条背景颜色 */
}
 
::-webkit-scrollbar-button {
    display: none; /* 隐藏滚动条两侧的按钮 */
}
 
::-webkit-scrollbar-corner {
    display: none; /* 隐藏交叉点 */
}
 
::-webkit-resizer {
    display: none; /* 隐藏调整元素大小手柄 */
}
